<h1>Login</h1>

<%= form_tag('/login', method: "post") do %>
  <% if @msg.present? %>
    <div id="error_explanation">
      <h2>Login failed</h2>

      <p><%= @msg %></p>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
