<%= form_with(model: moo, local: true, class: 'moo-moo') do |form| %>
  <% if moo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(moo.errors.count, "error") %> prohibited this moo from being saved:</h2>

      <ul>
      <% moo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content, "Compose a new Moo" %>
    <%= form.text_area :content %>
  </div>

  <% if moo.is_reply %>
    <%= form.hidden_field :moo_id %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
