<div class="moo">
  <div class="moo-header">
    <span class="username">
      @<%= m.owner.username %>
    </span>
    <span class="date">
      <%= m.created_at.strftime("%e-%b") %>
    </span>
  </div>
  <p class="content">
    <%= m.content %>
  </p>
  <div class="moo-options">
    <%= link_to "Reply (#{m.replies.count})", reply_path(m) %>
    <%= link_to "Like (#{m.likers.count})", like_path(m), method: :post %>
  </div>
</div>