<!DOCTYPE html>
<html>
  <head>
    <title>MooApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <head>
      <p>Welcome to @Moo</p>
      <nav>
        <% if @current_user.present? %>
          <%= link_to 'My Profile', user_path(@current_user.id) %>
          <%= link_to 'Logout', logout_path %>
        <% else %>
          <%= link_to 'Login', login_path %>
          <%= link_to 'Sign Up', new_user_path %>
        <% end %>
        
      </nav>
    </head>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
